@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');


body {
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 20px;
	font-weight: 300;
	overflow-x: hidden;
}

a, button { transition: all 0.3s ease; }
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

.row { display: block; }
.left-right-container { width: 100%; }

.green-bg {
	background-color: #009952c4;
	color: #ffffff;
}

.green-text {	color: #009952c4; }
.green-bg a {	color: #ffffff; }

.site-name {
	font-size: 4rem;
	margin-top: 20px;
}

.logo {
	height: 150px;
 	width: 120px;
}

.logo-div { 
	padding-top: 40px; 
	padding-bottom: 40px;
}

.main-nav { display: none; }

.main-nav-ul {
	display: inline-block;
	padding-left: 0;
}

.section { margin-bottom: 60px; text-align: center; }
.welcome-title {	font-size: 2.4rem; }
.section-title {	font-size: 2.2rem; }
.content-div { padding: 40px; }
.margin-b-45 { margin-bottom: 45px; }
.margin-b-30 { margin-bottom: 30px; }
p { line-height: 2; }

.button {
	background-color: #009952c4;
	border: none;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;	
	padding: 18px 35px;
}

.button-wide { padding: 18px 40px; }

.button:hover,
.button:active,
.button:focus {
	background-color: #874996b4;
	color: #ffffff;
}

.nav-item:hover a,
.nav-item:active a,
.nav-item:focus a,
.nav-item-link.active {
	color: #874996ab;
}

.about-img-container { margin-top: 50px; }

.img-container {	float: left; }

.img-container-1 { 
	margin-bottom: 10px;
	width: 50%; 
}

.img-tn {
	padding-left: 5px;
	padding-right: 5px;
}

.img-tn {
	display: block;
	margin: 0 auto;
}
.gallery-container {
	overflow: auto;
	margin-left: -5px;
	margin-right: -5px;
}

.gallery {
	width: 80%;
	margin: 100px auto;
}

.gallery .img-card {
	overflow: hidden;
}

.gallery .img-card img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: .5s;
	cursor: pointer;
}

.gallery .img-card img:hover {
	transform: scale(1.5) rotate(20deg);
}



.contact-right { margin-top: 40px; }

.form-control {
	border-color: #009952c4;
	border-radius: 0;
	color: #009952c4;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-size: 1.3rem;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #009952c4 !important;
}
 
input:-moz-placeholder,
textarea:-moz-placeholder { /* Firefox 18- */
	color: #009952c4 !important;  
}
 
input::-moz-placeholder,
textarea::-moz-placeholder {  /* Firefox 19+ */
	color: #009952c4 !important;  
}
 
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {  
	color: #009952c4 !important;  
}

.contact-right {	padding-left: 15px; }
.copyright-p { margin-bottom: 0; }

.box-container .box{
    padding:2.5rem;
    background:#fff;
    border:.1rem solid #02300d33;
    box-shadow: #045033c4;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.footer {
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 22px;
    color: #009952c4;
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .copyright-p {
	float: right;
	font-size: 15px;
}

/* Media Queries */
@media (min-width: 576px) {
	.container { width: 100%; }
	.site-name { margin-top: 35px; }
	.welcome-title { font-size: 3rem; }
	.img-container-1 { width: 20%; }
}

@media (min-width: 768px) {
	.about-img-container { margin-top: 0; }
}

@media (min-width: 992px) {
	.main-nav {
		display: flex;
		justify-content: center;
	}

	.left-column { 
		position: fixed; 
		height: 100%;
	}

	.container { width: 100%; }
	.left-column { width: 30%; }

	.right-column {
		float: right;
		width: 70%;
	}

	.nav-item {
		cursor: pointer;
		font-size: 1.5rem;
		list-style: none;
		padding: 18px 30px;
		transition: all 0.3s ease;
	}

	.site-name {
	    font-size: 3.3rem;
	    margin-top: 30px;
	}

	.logo-div {
	    padding-top: 50px;
	    padding-bottom: 50px;
	}

	.section { margin-bottom: 100px; }

	.content-div { padding: 80px 40px 30px 80px;	}

	.img-container-1 {
		margin-bottom: 10px;
		width: 33.3334%;
	}

	.contact-right { margin-top: 0; }
}

@media (min-width: 1200px) {		
	.container { width: 100%; }	
	.button-wide { padding: 18px 68px; }
	.contact-right { padding-left: 42px; }
}

@media (min-width: 1500px) {	
	.container { width: 100%; }
	p { margin-bottom: 30px; }

	.gallery-container {
		overflow: auto;
		margin-left: -10px;
		margin-right: -10px;
	}

	.img-tn {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (min-width: 1800px) {
	.container,
	.left-right-container {
	    width: 100%;
	}

	p { margin-bottom: 36px; }

	.gallery-container {
		overflow: auto;
		margin-left: -10px;
		margin-right: -10px;
	}

	.img-container-1 { width: 20%; }

	.img-tn {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@media (max-height: 860px) {
	.logo-div {
	    padding-top: 45px;
	    padding-bottom: 20px;
	}

	.nav-item { font-size: 1.4rem; }

	.site-name {
		font-size: 2.4rem;
		margin-top: 10px;
	}
}

@media (min-height: 859px) {
	.logo-div {
	    padding-top: 100px;
	    padding-bottom: 100px;
	}

	.nav-item { font-size: 1.9rem; }
}
